.landing-container {
    position:relative;
    flex-direction: column;
    align-content: flex-end;
    height:100vh;
}

.landing-text {
    text-align: center;
    position: absolute;
    top: 30%;
    transform: translateY(-50%);
    width: 100%;
}

h3 {
    font-weight: 200;
    letter-spacing: 4px;
    font-size:32px
  }

.parallax-container {
    width:100%;
    bottom:0;
    overflow: hidden;
    position: absolute;
    height: 100%;
}

.bgimg {
    background-image: url('./vancouver_skyline_vec.svg');
    transform: scale(1.1);
    background-position: bottom;
    background-size: cover;
    height:100vh;
}