.body-container{
}

.button-container{
    margin: 20px;
    padding: 20px 0px 20px;
    width: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.theme-button{
    letter-spacing: .3em;
    padding: 5px 10px 5px;
    transition: all .4s ease-out;
    background: white;
    border-radius: 25px;
    text-decoration: none;
    border-style: solid;
    border: 1px solid;
}
  
.theme-button:visited {
    color:black;
}
.theme-button:hover {   
    color: white;
    border-color: black;
    background: black;
}
  

a {
    color: black;
    margin: 20px 20px;
    transition: all .4s ease-out;
    text-decoration: none;
}

a:visited { text-decoration: none; color: black; }
