.footer-container {
    height: 20vh;
    flex-direction: column;
    align-content: flex-end;
    position: relative;
}

.parallax-container-footer {
    width:100%;
    overflow: hidden;
    height: 30vh;
    position: absolute;
}

.bgimg1 {
    background-image: url('./mountains.svg');
    /* transform: scale(1.1); */
    background-position: top;
    background-size: cover;
    transform: translate(5%, 0);
    z-index: 10;
    height:40vh;
    width:140%
}

.bgimg2 {
    background-image: url('./mountains.svg');
    /* transform: scale(1.1); */
    background-position: top;
    background-size: cover;
    transform: scaleX(-1);
    transform: translate(-20%, 0);
    z-index: 9;
    height:30vh;
    filter: opacity(50%);
    width:120%
}