.footer-container {
    position: relative;
    height: 400px;
    flex-direction: column;
    align-content: flex-end;
}

.parallax-container-footer {
    width:100%;
    bottom:0;
    overflow: hidden;
    /* height:150%; */
}

.bgimg-footer{
    background-image: url('./mountains.png');
    transform: scale(1.3);
    background-position: bottom;
    background-size: cover;
    filter: blur(0px);
    height: 300px;
}